﻿@{
    ViewBag.Title = "Start";
}

<hgroup class="title">
    <h1>Start.</h1>
    <h2>Welcome to kvittr!</h2>
</hgroup>

<h2>About Kvittr</h2>
<p>
    Kvittr is a site created with ASP.NET MVC for the course "Dotnetprogrammering (2AD168)" in december 2014.
</p>