﻿@model FeedModel

@{ ViewBag.Title = "Feed"; }

<hgroup class="title">
    <h1>Feed.</h1>
    <h2>Posts made by people you follow</h2>
</hgroup>

<br />

@if (this.User.Identity.IsAuthenticated)
{
    <div class="feed-wrapper clear-fix">
        <div class="feed-profile-img" style="margin-top: 20px; padding-left: 15px; width:55px;">
            <img width="32"
                 height="32"
                 align="middle"
                 alt="Gravatar"
                 src="http://www.gravatar.com/avatar/@Model.CurrentUser.emailHash()">
        </div>
        <div class="feed-content-container">
            <div class="feed-content-main">
                @using (Html.BeginForm("Add","Post", FormMethod.Post)) 
                {
                        @Html.Hidden("UserId", @Model.CurrentUser.Id)
                        @Html.TextArea("PostContent", new { placeholder = "Whats on your mind?" })
                        <div style="float: right;"><input type="submit" value="Create post" /></div>
                }
            </div>
        </div>
    </div>
    <div class="feed-separator"></div>
}

@foreach (Post post in Model.AllPosts)
{
    <div class="feed-wrapper clear-fix">
        <div class="feed-profile-img">
            <img width="64"
                 height="64"
                 align="middle"
                 alt="Gravatar"
                 src="http://www.gravatar.com/avatar/@post.User.emailHash()" />
        </div>
        <div class="feed-content-container">
            <div class="feed-content-firstrow">@Html.ActionLink(post.User.Username, "Feed", "User", new { id = post.User.Id }, null) <span class="feed-content-time">&raquo; @post.Time</span> </div>
            <div class="feed-content-main">@post.Content</div>
            <div class="feed-content-actions">
                @if(!post.UserHasLiked(Model.CurrentUser.Id))
                {
                    using (Html.BeginForm("Add", "Like", FormMethod.Post, new { id = "likePost" + @post.Id }))
                    {
                        @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                        @Html.Hidden("UserId", @Model.CurrentUser.Id)
                        @Html.Hidden("PostId", @post.Id)
                    }
                    <a href="#" onclick="document.getElementById('likePost' + @post.Id).submit();">Like</a>
                }
                else
                {
                    using (Html.BeginForm("Remove", "Like", FormMethod.Post, new { id = "unLikePost" + @post.Id }))
                    {
                        @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                        @Html.Hidden("UserId", @Model.CurrentUser.Id)
                        @Html.Hidden("PostId", @post.Id)
                    }
                    <a href="#" onclick="document.getElementById('unLikePost' + @post.Id).submit();">Unlike</a>
                }
                 - 
                @post.NumOfLikes has liked this post
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="feed-comments-wrapper">
            <div class="feed-comments-img">
                <img alt="Gravatar" src="http://www.gravatar.com/avatar/@Model.CurrentUser.emailHash()" />
            </div>
            <div class="feed-comments-form">
                @using (Html.BeginForm("Add", "Reply"))
                {
                    @Html.Hidden("UserId", @Model.CurrentUser.Id)
                    @Html.Hidden("PostId", @post.Id)
                    @*@Html.TextBoxFor(m => m.PostContent, new { placeholder = "Reply to this post" })*@
                    @Html.TextBox("ReplyContent", "", new { placeholder = "Reply to this post" })
                    <input type="submit" value="Reply" />
                }
            </div>
        </div>
        @*@{ List<Reply> postReplies = _replyRepository.GetRepliesByPost(post.Id); }*@
        @foreach (Reply reply in post.Replies)
        {
        <div class="feed-comments-wrapper" >
            <div class="feed-comments-img" style="margin-top: 4px;">
                <img alt="Gravatar" src="http://www.gravatar.com/avatar/@reply.User.emailHash()" />
            </div>
            <div class="feed-comments-form">
                <span class="feed-comment-username">@reply.User.Username</span> <span class="feed-comment-time">&raquo; @reply.Time</span><br />
                <span>@reply.Content</span>
            </div>
        </div>
        }
    </div>

    <div class="feed-separator"></div>
}
