﻿@model SocialMedia.ViewModels.UserFeedModel

@{
    ViewBag.Title = "User feed";

    SocialMedia.Repositories.ReplyRepository _replyRepository = SocialMedia.Repositories.RepositoryFactory.GetReplyRepository();
    
    SocialMedia.Repositories.UserRepository _userRepository = SocialMedia.Repositories.RepositoryFactory.GetUserRepository();
    
    User currentUser = _userRepository.GetByUserName(User.Identity.Name);

    SocialMedia.Repositories.LikeRepository _likeRepository = SocialMedia.Repositories.RepositoryFactory.GetLikeRepository();    
    
}

<hgroup class="title">
    <h1>Feed.</h1>
    <h2>Posts made by @Model.User.Username</h2>
</hgroup>

<br />

@foreach (Post post in @Model.PostList)
{
    <div class="feed-wrapper clear-fix">
        <div class="feed-profile-img">
            <img width="64"
                 height="64"
                 align="middle"
                 alt="Gravatar"
                 src="http://www.gravatar.com/avatar/@post.User.emailHash()" />
        </div>
        <div class="feed-content-container">
            <div class="feed-content-firstrow">@post.User.Username <span class="feed-content-time">&raquo; @post.Time</span> </div>
            <div class="feed-content-main">@post.Content</div>
            <div class="feed-content-actions">               
                @if (!_likeRepository.UserLikesPost(currentUser, post))
                {
                    using (Html.BeginForm("Add", "Like", FormMethod.Post, new { id = "likePost" + @post.Id }))
                    {
                        @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                    @Html.Hidden("UserId", @currentUser.Id)
                    @Html.Hidden("PostId", @post.Id)
                    }
                    <a href="#" onclick="document.getElementById('likePost' + @post.Id).submit();">Like</a>
                }
                else
                {
                    using (Html.BeginForm("Remove", "Like", FormMethod.Post, new { id = "unLikePost" + @post.Id }))
                    {
                        @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                    @Html.Hidden("UserId", @currentUser.Id)
                    @Html.Hidden("PostId", @post.Id)
                    }
                    <a href="#" onclick="document.getElementById('unLikePost' + @post.Id).submit();">Unlike</a>
                }
                -
                @_likeRepository.GetNumberOfLikesByPost(post.Id) has liked this post
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="feed-comments-wrapper">
            <div class="feed-comments-img">
                <img alt="Gravatar" src="http://www.gravatar.com/avatar/@Model.User.emailHash()" />
            </div>
            <div class="feed-comments-form">
                @using (Html.BeginForm("Add", "Reply"))
                {
                    @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                    @Html.Hidden("UserId", currentUser.Id)
                    @Html.Hidden("PostId", @post.Id)
                    @*@Html.TextBoxFor(m => m.PostContent, new { placeholder = "Reply to this post" })*@
                    @Html.TextBox("ReplyContent", "", new { placeholder = "Reply to this post" })
                    <input type="submit" value="Reply" />
                }
            </div>
        </div>
        @{ List<Reply> postReplies = _replyRepository.GetRepliesByPost(post.Id); }
        @foreach (Reply reply in postReplies)
        {
            <div class="feed-comments-wrapper">
                <div class="feed-comments-img" style="margin-top: 4px;">
                    <img alt="Gravatar" src="http://www.gravatar.com/avatar/@reply.User.emailHash()" />
                </div>
                <div class="feed-comments-form">
                    <span class="feed-comment-username">@reply.User.Username</span> <span class="feed-comment-time">&raquo; @reply.Time</span><br />
                    <span>@reply.Content</span>
                </div>
            </div>
        }
    </div>

    <div class="feed-separator"></div>
}
