﻿@model IEnumerable<SocialMedia.Models.User>

@{
    ViewBag.Title = "Users";

    SocialMedia.Repositories.FollowRepository _followRepository = SocialMedia.Repositories.RepositoryFactory.GetFollowRepository();

    SocialMedia.Repositories.UserRepository _userRepository = SocialMedia.Repositories.RepositoryFactory.GetUserRepository();
    User currentUser = _userRepository.GetByUserName(User.Identity.Name);
}
<hgroup class="title">
    <h1>Users.</h1>
    <h2>All registered users</h2>
</hgroup>

<div class="user-search">
    @using (Html.BeginForm("Search", "User"))
    {
        @Html.TextBox("UserName", "", new { placeholder = "Search for users to follow" })
        <input type="submit" value="Search" />
    }
</div>

@foreach (var user in Model) {

    if (user.Id == currentUser.Id)
    {
        continue;
    }

    <div class="user-list-container">
        <div class="user-list-img">
            <img width="64"
                 height="64"
                 alt="Gravatar"
                 src="http://www.gravatar.com/avatar/@user.emailHash()" />
        </div>
        <div class="user-info-container">
            <div class="user-info-name">@Html.ActionLink(user.Username, "Feed", "User", new { id = user.Id }, null)</div>
            <div class="user-follow-button">
                @if (_followRepository.IsFollowing(@currentUser.Id, @user.Id))
                {
                    using (Html.BeginForm("Remove", "Follow"))
                    {
                        @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                        @Html.Hidden("FollowedUser", @user.Id)
                        @Html.Hidden("FollowsUser", @currentUser.Id)
                        <input type="submit" value="Unfollow" />    
                    }
                }
                else
                {
                    using (Html.BeginForm("Add", "Follow"))
                    {
                        @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                        @Html.Hidden("FollowedUser", @user.Id)
                        @Html.Hidden("FollowsUser", @currentUser.Id)
                        <input type="submit" value="Follow" />
                    }
                }
            </div>
            <div class="user-info-mail">@user.Email</div>
        </div>
        
    </div>
}

