﻿@{
    ViewBag.Title = "Following";

    SocialMedia.Repositories.UserRepository _userRepository = SocialMedia.Repositories.RepositoryFactory.GetUserRepository();
    User currentUser = _userRepository.GetByUserName(User.Identity.Name);

    SocialMedia.Repositories.FollowRepository _followRepository = SocialMedia.Repositories.RepositoryFactory.GetFollowRepository();
    List<Follow> userFollows = _followRepository.GetFollowsByUserFollows(currentUser.Id).ToList();
    
}


<hgroup class="title">
    <h1>Following.</h1>
    <h2>All users you are following</h2>
</hgroup>

@foreach (Follow follow in userFollows)
{

    <div class="user-list-container">
        <div class="user-list-img">
            <img width="64"
                 height="64"
                 alt="Gravatar"
                 src="http://www.gravatar.com/avatar/@follow.UserFollowed.emailHash()" />
        </div>
        <div class="user-info-container">
            <div class="user-info-name">@follow.UserFollowed.Username</div>
            <div class="user-follow-button">
                @using (Html.BeginForm("Remove", "Follow"))
                {
                    @Html.Hidden("ReturnUrl", HttpContext.Current.Request.Url.AbsolutePath);
                    @Html.Hidden("FollowedUser", @follow.UserFollowed.Id)
                    @Html.Hidden("FollowsUser", @currentUser.Id)
                    <input type="submit" value="Unfollow" />
                }
            </div>
            <div class="user-info-mail">@follow.UserFollowed.Email</div>
        </div>

    </div>
}
