﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Kvittr</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="menu-bar">
            <div id="menu-bar-inner">
                <div class=" float-left">
                    <a style="float: left;" href="/"><img src="~/Images/kvittr_logo.png" alt="Kvittr logo" /></a>
                    <nav style="float: left;">
                        <ul id="menu">
                            <a href="@Url.Action("Index", "Home")"><li>Home</li></a>
                             @if (this.User.Identity.IsAuthenticated)
                             {
                                <a href="@Url.Action("Index", "Post")"><li>Feed</li></a>
                                <a href="@Url.Action("Index", "Follow")"><li>Following</li></a>
                                <a href="@Url.Action("Index", "User")"><li>All users</li></a>
                            }
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </div>
    </header>

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div class="main-content-left">@RenderBody()</div>
            <div class="main-content-right">@Html.Partial("_SidebarPartial")</div>
        </section>
    </div>
    <footer>
        <div>
            <p>&copy; @DateTime.Now.Year - Kvittr</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
