﻿@if (Request.IsAuthenticated)
{
    <div>
        @{
        SocialMedia.Repositories.UserRepository _userRepository = SocialMedia.Repositories.RepositoryFactory.GetUserRepository();
        User currentUser = _userRepository.GetByUserName(User.Identity.Name);
        if (currentUser != null)
        {
            <img width="32"
                 height="32"
                 align="middle"
                 alt="Gravatar"
                 src="@String.Format("http://www.gravatar.com/avatar/{0}", currentUser.emailHash())" />
        }
        }
        <span>@User.Identity.Name</span>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </div>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
