﻿<hgroup class="title"><h1>Sidebar.</h1></hgroup>
<ul>
    <li><a href="/">Länk 1</a></li>
    <li><a href="/">Länk 2</a></li>
    <li><a href="/">Länk 3</a></li>
    <li><a href="/">Länk 4</a></li>
</ul>